body {
    background-color: #D9AFD9;
background-image: linear-gradient(90deg, #D9AFD9 0%, #979fe1 100%);

}

header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
    gap: 28px;
}


.nav-item:hover{
    cursor:pointer;
    background-color:#db97e1d2 ;
    color: #584e5848;
}
